@model SampleProject.Models.Summary

@{
    ViewBag.Title = "Summary";
}

<h2>Contact Summary</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalNumberOfContacts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalNumberOfContacts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalNumberOfComputers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalNumberOfComputers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsersWithHomeAddresses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsersWithHomeAddresses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsersWithWorkAddresses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsersWithWorkAddresses)
        </dd>
    </dl>
</div>