@model SampleProject.Models.Contact

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Contact</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
        @Html.HiddenFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })


        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfComputers, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfComputers, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumberOfComputers, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Create", "Addresses", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    <h4>Addresses</h4>
    <hr />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.FirstOrDefault().AddressLineOne)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.FirstOrDefault().AddressLineTwo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.FirstOrDefault().City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.FirstOrDefault().State)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.FirstOrDefault().Zip)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Address)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddressLineOne)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddressLineTwo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Zip)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "edit", "addresses", new { id = item.Id }, null) |
                            @Html.ActionLink("Delete", "delete", "addresses", new { id = item.Id }, new { onclick = "return confirm('Are you sure you want to delete this Address?');" })
                    </tr>
                }
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.HiddenFor(model => model.Id)
                <input type="submit" value="Add Address" class="btn btn-default" />
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
